---
layout: default
---
<article class="chapter">
  <h1>
    <div class="bilingual-header">
      <span class="bilingual-num">{% if page.chapter %}{{ page.chapter }}. {% endif %}</span>
      <span lang="qtq">{{ page.title }}</span>
      <span class="bilingual-sep">/</span>
      <span lang="en">{{ page.title_en }}</span>
    </div>
  </h1>

  {{ content }}

  <div class="prevnext">
    {% if page.next.url %}
      <a href="{{ page.next.url | relative_url }}" class="next">Next chapter: <b lang="qtq">{{page.next.chapter}}. {{ page.next.title }}</b></a>
    {% endif %}
    <!-- {% if page.previous.url %}
      <a href="{{ page.previous.url | relative_url }}" class="prev">← <span lang="qtq">{{ page.previous.title }}</span><br>← <span lang="en">{{ page.previous.title_en }}</span></a>
    {% endif %} -->
  </div>

  <script>
    var currentAudio = null;
    document.querySelectorAll('[data-audio]').forEach(element => {
      element.style.cursor = 'pointer';
      element.addEventListener('click', () => {
        if (currentAudio) {
          currentAudio.pause();
        }
        currentAudio = new Audio("{{ site.baseurl }}/assets/audio/" + element.getAttribute('data-audio') + ".mp3");
        currentAudio.play();
      });
    });
  </script>
</article>
