---
layout: default
---
<article class="chapter">
  <h1>{% if page.chapter %}{{ page.chapter }}. {% endif %}<span lang="qtq">{{ page.title }}</span> / <span lang="en">{{ page.title_en }}</span></h1>

  {{ content }}

  <div class="prevnext">
    {% if page.next.url %}
      <a href="{{ page.next.url | relative_url }}" class="next">Next chapter: <b lang="qtq">{{page.next.chapter}}. {{ page.next.title }}</b></a>
    {% endif %}
    <!-- {% if page.previous.url %}
      <a href="{{ page.previous.url | relative_url }}" class="prev">← <span lang="qtq">{{ page.previous.title }}</span><br>← <span lang="en">{{ page.previous.title_en }}</span></a>
    {% endif %} -->
  </div>
</article>
